{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">Travel Destination</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Destination</li>
            </ol>
    </div>
</div>
<!-- Header End -->

<!-- Destination Start -->
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Destination</h5>
            <h1 class="mb-0">Popular Destination</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
                <li class="nav-item">
                    <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill"
                       href="{% url 'destination' %}">
<!--                        id boyicha o'zgartirilishi kerak tab-{destination_ctg.id tab 2 dan boshlanadi }-->
                        <span class="text-dark" style="width: 150px;">All</span>
                    </a>
                </li>
                {% for i in destination_ctg %}
                <li class="nav-item">
                    <a class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill {% if request.session.tab_id == i.id %} active{% endif %}"
                       href="{% url 'destination_tab' tab_id=i.id %}">
                        <span class="text-dark" style="width: 150px;">{{ i.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-xl-12">
                            <div class="row g-4">
                                {% for i in destination %}
                                <div class="col-lg-4">
                                    <div class="destination-img">
                                        <img class="img-fluid rounded w-100" src="{{ i.images.all.0.img.url }}" alt="">
                                        <div class="destination-overlay p-4">
                                            <a href="#"
                                               class="btn btn-primary text-white rounded-pill border py-2 px-3">{{ i.destination_num }} Photos</a>
                                            <h4 class="text-white mb-2 mt-3">{{ i.destination.title }}</h4>
                                            <a href="#" class="btn-hover text-white">View All Place <i
                                                    class="fa fa-arrow-right ms-2"></i></a>
                                        </div>
                                        <div class="search-icon">
                                            <a href="img/destination-1.jpg" data-lightbox="destination-1"><i
                                                    class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination End -->
{% endblock %}